<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BBall Fantasy League</title>

  <link rel="stylesheet" type="text/css" href="/stylesheet/styles.css">
</head>
<body>
  <nav>
    <div id="container">
      <ul>
        <li> <a href="../index"> HOME </a></li>
      </ul>
      
      <ul>
        <li> <a href="../scores">SCORES</a> </li>
        <li> <a href="../teams"> TEAMS </a> </li>
      </ul>
    </div>
  </nav>


